<div class="center">
  <section id="content">
    <h1 class="subheader">{{ page_title }}</h1>

    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input
          type="text"
          name="title"
          #title="ngModel"
          [(ngModel)]="article.title"
          required
        />
        <small *ngIf="!title.valid && title.touched">
          El titulo no es válido
        </small>
      </div>

      <div class="form-group">
        <label for="content">Contenido</label>
        <input
          type="text"
          name="content"
          #content="ngModel"
          [(ngModel)]="article.content"
          required
        />
        <small *ngIf="!content.valid && content.touched">
          Los contenido no son válidos
        </small>
      </div>

      <div class="form-group">
        <div class="image-thumb" *ngIf="is_edit">
          <div class="image-wrap">
            <img
              src="{{ url + 'get-image/' + article.image }}"
              alt="{{ article.title }}"
              *ngIf="article.image"
            />
            <img
              src="assets/images/default.jpg"
              alt="{{ article.title }}"
              *ngIf="!article.image"
            />
          </div>
        </div>
        <angular-file-uploader
          [config]="afuConfig"
          (ApiResponse)="imageUpload($event)"
        >
          >
        </angular-file-uploader>
      </div>

      <div class="clearfix"></div>

      <input
        type="submit"
        value="Guardar"
        class="btn btn-success"
        [disabled]="articleForm.invalid"
      />
    </form>
  </section>
  <app-sidebar></app-sidebar>
</div>
